.aaD {color: #F7CF08;}
.aaE {color: #CD8D00;}
.aaR {color: #B2A1FF;}
.aaH {color: #7571BC;}
.aaK {color: #440FAE;}
.aaN {color: #18E0F7;}
.aaQ {color: #0080FF;}
.aaS {color: #0F52BA;}
.aaT {color: #000080;}
.aaC {color: #00F000;}
.aaG {color: #04CBB1;}
.aaP {color: #1A4F30;}
.aaA {color: #EB1919;}
.aaI {color: #F93BBB;}
.aaL {color: #FF2976;}
.aaM {color: #FF5A3D;}
.aaF {color: #C34822;}
.aaW {color: #A30000;}
.aaY {color: #941651;}
.aaV {color: #681226;}
.aaX {color: #808080;}
